/* body {
  background-image: url(https://i.pinimg.com/originals/36/2c/03/362c03a5441722af3a256e52d79bebcc.jpg);
} */

.App {
  text-align: center;
}

/* .pokemon {
  border: none;
}

.pokemon img {
  width: 300px;
  margin-top: 250px;
} */